* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /* general style */

  body {
    font-family: "Roboto", sans-serif;
  }

  button {
    background-color: #F26B34;
    border-radius: 30px;
    padding: 12px 45px;
    border: none;
    font-weight: 600;
    width: fit-content;
}


/* navbar section */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 65px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-logo img {
    width: 110px;
}

.nav-links {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;

    a {
        text-decoration: none;
        color: #282828;
        font-size: 18px;
   
    }
}


.menu-icn {

    display: none;

    img {
        width: 35px;
    }
}


/* hero section */

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 140px;
    padding: 40px 0 0 0;
}

.hero-text {
    display: grid;
    gap: 25px;
    width: 20%;

    h1 {
        font-size: 67px;
        line-height: 64px;
        font-weight: 400;
        letter-spacing: 4px;
    }
    span {
        font-weight: 700;
    }

    p {
        font-size: 18px;
        width: 80%;
        line-height: 24px;

    }
}

.hero-cta {
    display: flex;
    align-items: center;
    gap: 18px;

    img {
        width: 30px;
    }
}

.hero-image {

    img {
        width: 46rem;
    }
}

/* Owner section */

.owner {
    background-color: #0693A5;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.owner-image {

    img {
        width: 580px;
    }
}

.owner-text {
    display: grid;
    gap: 20px;
    color: #fff;
    width: 40%;

    h1 {
        font-size: 37px;
        font-weight: 700;
        line-height: 45px;
        width: 80%;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        /* width: 100%; */
    }

    
}

.line {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
        width: 90px;
        height: 1.5px;
        background-color: #fff;
    }

    h3 {
        font-size: 15px;
    }
}

/* abode section */

.abode {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    h1 {
        font-size: 37px;
        font-weight: 700;
    }

}

.abode-dsk {

    img {
        width: 70rem;
    }
}

.abode-mobile {
    display: none;
    width: 300px;
    
}

/* choice section */

.choice {
    display: flex;
    background-color: #00626E;
    width: 85%;
    padding: 4rem 8rem 2rem 8rem;
    gap: 40px;
    margin: 0 auto;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.choice-text {
    display: flex;
    flex-direction: column;
    gap: 30px;


    h1 {
        font-size: 37px;
        font-weight: 700;
        line-height: 46px;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    li {
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
    }
}

.choice-image {

    img {
        width: 30rem;
    }
}








/* media query */

@media (max-width: 1320px) {

    /* abode section */

    .abode {
    
        img {
            width: 50rem;
        }
    }

        /* choice section */

.choice {
    /* flex-direction: column-reverse; */
    width: 95%;
    padding: 4rem 5rem;
}



}
@media (max-width: 900px) {


    /* navbar-section */

    .navbar {
        padding: 10px 20px; 
    }

    .nav-logo img {
        width: 100px;
    }

    .nav-links, .nav-cta {
        display: none;
    }

    .menu-icn {
        display: block;
    }

    /* hero section */

    .hero {
        justify-content: flex-start;
        gap: 40px;
        padding: 40px 0 0 20px;
        flex-direction: column;
    }

    
.hero-text {
    gap: 30px;
    width: 100%;

    h1 {
        font-size: 50px;
        line-height: 64px;
        font-weight: 400;
        letter-spacing: 2px;
        width: 80%;
    }
    span {
        font-weight: 700;
    }

    p {
        font-size: 18px;
        width: 70%;
        line-height: 24px;

    }
}

.hero-cta {
    display: flex;
    align-items: center;
    gap: 18px;

    button {
        background-color: #F26B34;
        border-radius: 30px;
        padding: 12px 45px;
        border: none;
        font-weight: 600;
    }

    img {
        width: 30px;
    }
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    img {
        width: 25rem;
    }
}

/* Owner section */

.owner {
    padding:80px 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: none;
    gap: 40px;
}

.owner-image {

    img {
        width: 450px;
    }
}

.owner-text {
    width: 100%;
}

.line {

    h3 {
        font-weight: 400;
    }
}

    /* abode section */

    .abode {
        gap: 50px;
    }

    .abode-dsk {
        display: none;
    }
    .abode-mobile {
        display: block;
        width: 300px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    /* choice section */

.choice {
    flex-direction: column-reverse;
    width: 95%;
    padding: 4rem 2rem;
}


.choice-image {
    margin: 0 auto;

    img {
        width: 25rem;
    }
}

}